@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Not sure 100% about colors and sizes */
/* to ensure the exact design implementation i must have a sketch or a PSD file. */

.App {
  display: flex;
  align-items: center;
    justify-content: center;
    background-color: white;
  height: 100%;
  width: 100%;
}

.house-list
{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.card
{
  display: flex;
    background-color: antiquewhite;
  flex-direction: column;
   justify-content: space-between;
  -webkit-box-shadow:inset 0px 0px 0px 1.4px #D8D8D8;
  -moz-box-shadow:inset 0px 0px 0px 1.4px #D8D8D8;
  box-shadow:inset 0px 0px 0px 1.4px #D8D8D8;
  margin: 20px;
  min-width: 300px;
  max-width: 350px;
  min-height: 450px;
}
.card .card-header
{
  display: block;
  width: 100%;
  height: 50%;
}

.card .card-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card-body{
  padding-left: 11%;
  padding-top: 3%;
  padding-right: 11%;
}
.card .card-body h4
{
  text-align: justify;
  font-size: 16px;
  color:#615F5F;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.card .card-body p
{
  text-align: justify;
  font-size: 13px;
  color:#939393;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.card .card-footer
{
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  height: auto;
  margin-bottom: 0px;
  width: 100%;
  padding-bottom: 8px;
}

.card .card-footer h4
{
  text-align: justify;
  font-size: 18px;
  color:#1B1B1B;
  margin-left: 8%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.card .card-footer p
{
  text-align: justify;
  font-size: 16px;
  color:brown;
  margin-right: 8%;
  padding-top: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn-rent
{
  border: 0px;
  box-shadow: 1px 1px 10px rgba(50,50,50,0.4);
  padding: 5px 10px;
  font-size: 14px;
  width: 70px;
  height: 30px;
  color: brown;
  position: absolute;
  margin: 20px;
  border-radius: 1.2px;
  cursor: pointer;
  background-color: #FAFAF9;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.btn-rent:hover
{
  background-color: brown;
  color: #848484
}
.btn-rent:focus
{
  outline: none
}

.nav h1{
    text-align: center;
}